/* RESET */
body{
    margin: 0px;
    padding: 0px;
}
*{
    text-decoration: none;
    list-style: none;
}
/* GLOBAIS */
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
:root{
    --azul: rgb(18, 44, 66);
}
/* CABEÇARIO */
.cabecario{
    color: white;
    background-color: var(--azul);
    padding: 20px 20px 5px 20px;
}
/* MENU-BUSCA */
.menu-busca{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.campo-busca{
    width: 800px;
    height: 35px;
}
.carrinho{
    width: 40px;
}
/* MENU-NAV */
.menu-nav{
}
.menu-nav ul{
    display: flex;
}
.menu-nav ul li{
    padding: 10px;
}
.menu-nav ul li a{
    color: white;
}