<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech Store</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/global.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/base.css') }}">
</head>
<body>
    <header class="cabecario">
        <nav class="menu-busca">
            <a href="/"><h1 class="titulo">Tech Store</h1></a>
            <form action="busca">
                <input class="campo-busca" type="text" name="busca" placeholder="Busque um produto">
                <input class="busca-botao" type="submit" value=" ">
            </form>
            <a href=""><img src='../static/img/carrinhob.png' alt='carrinho' title='carrinho' class="carrinho"></a>
        </nav>
        {% block nav_bar %}
        {% endblock %}
    </header>
    <main>
        {% block conteudo %}
        {% endblock %}
    </main>
</body>
</html>